@using SqlCop.DemoClient.ViewModels;
@using System.Linq;
@model Home

@{
    ViewBag.Title = "Index";
}

<style>
  textarea
  {
    width:800px;
    height: 300px;
  }
</style>

<script>
  $(document).ready(function () {
    $("a").click(function () {
      $("textarea").val($(this).data("sql"));
    });
  });
</script>


<h2>Demo Client</h2>

@using (Html.BeginForm())
{ 
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Namespace</th>
        <th>Category</th>
      </tr>
    </thead>
  <tbody>
  @foreach(Rule rule in Model.AllRules)
  {
    <tr>
      <td>
        @{
          var c = rule.Selected ? "checked='checked'" : string.Empty;
        }        
        <input type="checkbox" id="SelectedRules" name="SelectedRules" @c value="@rule.Id" />
      </td>     
      <td>@rule.Id</td>
      <td>@rule.Name</td>
      <td>@rule.Namespace</td>
      <td>@rule.Category</td>
    </tr>  
  }
  </tbody>
  </table>

  <br />

  @SharedHelpers.Example1()
  @SharedHelpers.Example2()
  @SharedHelpers.Example3()
  @SharedHelpers.Example4() 
    
  <p />
  
  @Html.TextAreaFor(s => s.Sql)

  <p />

  <input type="submit" value="Check" />
  
}

@if (!string.IsNullOrEmpty(Model.ErrorDescription))
{ 
  <div style="color:red;">@Model.ErrorDescription</div>
}
else if (!string.IsNullOrEmpty(Model.SuccessMessage))
{ 
  <div style="color:green;">@Model.SuccessMessage</div>
}

@if (Model.Problems.Any())
{ 
  <table>
    <thead>
      <tr>
        <th>Error</th>
        <th>Description</th>
        <th>Line</th>
        <th>Column</th>
      </tr>
    </thead>
  @foreach(SqlCop.ServiceModel.RuleProblem problem in Model.Problems)
  {
    <tr>
      <td>@problem.ErrorMessageString</td>
      <td>@problem.Description</td>    
      <td>@problem.StartLine</td>
      <td>@problem.StartColumn</td>
    </tr>  
  }
  </table>
}
